<section>
  <p>
    En medarbejder der deltager i et onlinemøde i 15 timer med kameraet tændt,
    skaber <em>9,4 kg CO2</em> om måneden
  </p><p>
    Det kræver mere energi at mine BitCoins end alt den energi hele New Zealand
    bruger på <em>et helt år</em>
  </p>
  <p>
    I dag kræver vores optagelse af data <em>3 gange mere</em> energi end alle
    solpaneler i hele verden kan producere
  </p>
</section>

<style>
  section {
    color: #2b4735;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 80px;
  }
  p {
    font-family: "moret", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0 60px 0 60px;
    line-height: 1.5;
  }
  em {
    font-style: normal;
    color: #ed9045;
    text-decoration: underline;
  }
</style>
