<section class="flex text-center gap-20 mb-20">
  <p class="font-work text-gron">
    En medarbejder der deltager i et onlinemøde i 15 timer med kameraet tændt,
    skaber <em class="text-orange underline not-italic">9,4 kg CO2</em> om
    måneden
  </p><p class="font-work text-gron">
    Det kræver mere energi at mine BitCoins end alt den energi hele New Zealand
    bruger på <em class="text-orange underline not-italic">et helt år</em>
  </p>
  <p class="font-work text-gron">
    I dag kræver vores optagelse af data <em
      class="text-orange underline not-italic">3 gange mere</em
    > energi end alle solpaneler i hele verden kan producere
  </p>
</section>
