<footer>
  <p>Forlæng dine enheders levetid</p><p>
    Hjælp med at reducere CO2 udledningen
  </p>
  <p>Vær en del af Digital Skraldedag</p>
</footer>

<style>
  footer {
    background-color: #ae835f;
    color: #fff9e8;
    padding: 40px;
    margin-top: 40px;
    font-family: "moret", serif;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 18px;
  }
</style>
