<footer class="bg-brun text-beige p-8 flex justify-around text-center">
  <p>Forlæng dine enheders levetid</p><p>
    Hjælp med at reducere CO2 udledningen
  </p>
  <p>Vær en del af Digital Skraldedag</p>
</footer>
