---
import Button from "../components/Button.astro";
import Telefon from "../assets/images/telefon.svg";
import { Image } from "astro:assets";
---

<section class="mb-20">
  <h1 class="text-7xl text-center text-gron pt-10 pb-2 font-moret">Digital Skraldedag</h1>
  <h2 class="text-4xl text-center ml-72 text-brun pt-1 font-moret">16 marts 2024</h2>

  <div class="grid grid-cols-2">
    <Image src={Telefon} alt="Københavnerbilleder bogforside" class="-ml-72 w-full" />
    <div class="mt-20 ml-12">
      <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Digital%20Skraldedag%202024&details=I%20dag%20er%20den%20årlige%20Digitale%20Skraldedag!%20Ryd%20op%20i%20dit%20digitale%20skrald,%20formindsk%20den%20digitale%20forurening%20og%20giv%20dine%20enheder%20en%20længere%20levetid.&dates=20240316/20240316" target="_blank">
        <Button size="large">Save the date!</Button>
      </a>
    </div>
  </div>
</section>
