<h1 class="text-5xl text-center text-gron pt-10 pb-2 font-moret">
  Digital Skraldedag
</h1>
<h2 class="text-4xl text-center text-lyserod pt-4 font-moret">16 marts 2024</h2>

<img class="-ml-40 w-3/6" src="/src/assets/images/telefon.svg" />
