---
import Logo from "../assets/images/logo.svg";
import Insta from "../assets/images/insta.png";
import Twit from "../assets/images/twit.png";
import Face from "../assets/images/face.png";
import { Image } from "astro:assets";
---

<nav class="bg-gron m-0 p-8">
  <ul class="list-none flex
   justify-between items-center">
    <div class="logo">
      <li>
        <!-- <a href="/"
          ><img
            class="w-10"
            src="../src/assets/images/logo.svg"
            alt="Forside"
          /></a
        > -->
        <Image src={Logo} alt="Københavnerbilleder bogforside" class="w-10" />
      </li>
    </div>

    <div class="flex gap-20">
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#front">Info</a></li>
      </div>
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#viden">Viden om digitalt skrald</a></li>
      </div>
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#hvordan">Hvordan gør man?</a></li>
      </div>
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#registrer">Registrér skrald</a></li>
      </div>
    </div>

    <div class="flex">
      <a href="https://www.instagram.com/"><Image src={Insta} alt="Instagram" class="w-12 pr-6 cursor-pointer hover:scale-110" /></a>

      <a href="https://www.facebook.com/"><Image src={Face} alt="Facebook" class="w-12 pr-6 cursor-pointer hover:scale-110" /></a>

      <a href="https://twitter.com/?lang=da"> <Image src={Twit} alt="Twitter" class="w-12 pr-6 cursor-pointer hover:scale-110" /></a>
    </div>
  </ul>
</nav>
