<nav class="bg-gron m-0 p-8">
  <ul class="list-none flex
   justify-between items-center">
    <div class="logo">
      <li>
        <a href="/"
          ><img
            class="w-10"
            src="../../src/assets/images/logo.svg"
            alt="Forside"
          /></a
        >
      </li>
    </div>

    <div class="flex gap-20">
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#front">Info</a></li>
      </div>
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#viden">Viden om digitalt skrald</a></li>
      </div>
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#hvordan">Hvordan gør man?</a></li>
      </div>
      <div class="text-beige font-medium font-work hover:text-orange">
        <li><a href="#registrer">Registrér skrald</a></li>
      </div>
    </div>

    <div class="flex">
      <li>
        <a
          href="https://www.instagram.com/worldcleanupday.global/"
          target="_blank"
          ><img
            class="w-12 pr-6 cursor-pointer hover:scale-110"
            src="/src/assets/images/insta.png"
            alt="instagram"
          /></a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/worldcleanupday.global/"
          target="_blank"
          ><img
            class="w-12 pr-6 cursor-pointer hover:scale-110"
            src="/src/assets/images/face.png"
            alt="facebook"
          /></a
        >
      </li>
      <li>
        <a href="https://twitter.com/letsdoitworld?lang=da" target="_blank"
          ><img
            class="w-12 pr-6 cursor-pointer hover:scale-110"
            src="/src/assets/images/twit.png"
            alt="twitter"
          /></a
        >
      </li>
    </div>
  </ul>
</nav>
