---
import KrydsKnap from "../components/KrydsKnap.astro";
---

<nav class="bg-gron m-0 p-8">
  <ul class="list-none flex
   justify-between items-center">
    <div class="logo">
      <li>
        <a href="/">Logo<img src="/img/logo.svg" alt="Forside" /></a>
      </li>
    </div>

    <KrydsKnap />

    <div class="flex">
      <li>
        <a
          href="https://www.instagram.com/worldcleanupday.global/"
          target="_blank"
          ><img
            class="w-16 pr-6 pb-2 cursor-pointer hover:scale-110"
            src="../../src/assets/images/insta.png"
            alt="instagram"
          /></a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/worldcleanupday.global/"
          target="_blank"
          ><img
            class="w-16 pr-6 pb-2 cursor-pointer hover:scale-110"
            src="../../src/assets/images/face.png"
            alt="facebook"
          /></a
        >
      </li>
      <li>
        <a href="https://twitter.com/letsdoitworld?lang=da" target="_blank"
          ><img
            class="w-16 pr-6 pb-2 cursor-pointer hover:scale-110"
            src="../../src/assets/images/twit.png"
            alt="twitter"
          /></a
        >
      </li>
    </div>
  </ul>
</nav>
