---
import KrydsKnap from "../components/KrydsKnap.astro";
---

<nav>
  <ul>
    <div class="logo">
      <li>
        <a href="/">Logo<img src="/img/logo.svg" alt="Forside" /></a>
      </li>
    </div>

    <KrydsKnap />

    <div class="some">
      <li>
        <a
          href="https://www.instagram.com/worldcleanupday.global/"
          target="_blank"
          ><img src="../../public/img/insta.png" alt="instagram" /></a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/worldcleanupday.global/"
          target="_blank"
          ><img src="../../public/img/face.png" alt="facebook" /></a
        >
      </li>
      <li>
        <a href="https://twitter.com/letsdoitworld?lang=da" target="_blank"
          ><img src="../../public/img/twit.png" alt="twitter" /></a
        >
      </li>
    </div>
  </ul>
</nav>

<style>
  nav {
    background-color: #2b4735;
    margin: 0;
    padding: 20px;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }
  a {
    color: #ffffff;
  }
  .some {
    display: flex;
  }
  img {
    max-width: 30px;
    padding-right: 20px;
    padding-bottom: 2px;
    cursor: pointer;
  }
  img:hover {
    max-width: 32px;
    padding-right: 18px;
    padding-bottom: 0;
  }
</style>
