---
import ShakeBin from "../components/ShakeBin.astro";
---

  <div>
    <a id="front"></a>
    <section class="grid grid-cols-2 mt-2.5 gap-80">
      <img class="max-w-screen-sm px-8" src="../../src/assets/images/papir.png" />
      <ShakeBin />
    </section>
    </a>
  </div>



