---
import ShakeBin from "../components/ShakeBin.astro";
---

<div class="mb-40">
  <a id="front"></a>
  <section class="grid grid-cols-2 mt-2.5 gap-80">
    <img class="max-w-screen-sm px-8" src="../../src/assets/images/papir.png" />
    <ShakeBin />
  </section>
</div>
