---
import ShakeBin from "../components/ShakeBin.astro";
---
<a id="front">
  <section class="grid grid-cols-2 mt-2.5 gap">
    <img class="max-w-screen-xs" src="../../src/assets/images/papir.png" />
    <ShakeBin />
  </section>
</a>

