---
import ShakeBin from "../components/ShakeBin.astro";
import Papir from "../assets/images/papir.png";
import { Image } from "astro:assets";
---

<div class="mb-40">
  <a id="front"></a>
  <section class="grid grid-cols-2 mt-2.5 gap-80">
    <Image
      src={Papir}
      alt="Københavnerbilleder bogforside"
      class="max-w-screen-sm px-8"
    />
    <ShakeBin />
  </section>
</div>
