<a id="hvordan">
  <section class="flex flex-col gap-20 ">
    <section class="grid grid-cols-2 w-4/5 m-auto mb-20 mt-20">
      <img class="w-80" src="src/assets/images/dreng.svg" alt="" />
      <div class="flex flex-col">
        <p class="text-4xl text-gron font-moret mt-10 mb-10">Hvorfor bør jeg være med til den årlige Digitale Skraldedag?</p>
        <p class="font-work text-gron">For at forstå indvirkningen den digitale technologi har på miljøet. Samtidig skaber du opmærksomhed om problemet, og giver dine enheder en længere levetid.</p>
      </div>
    </section>

    <h1 class="text-center text-4xl text-green-900 font-medium">Hvordan bidrager jeg?</h1>

    <section class="grid grid-cols-2">
      <div class="grid grid-cols-3">
        <img class="w-24" src="src/assets/images/fly.svg" alt="" />
        <div class="col-span-2">
          <h3 class="text-xl text-green-900 mb-2 font-medium">Hvor meget data fjerner jeg?</h3>
          <p>Husk at tjekke dit data før og efter oprydningen, så du ved hvor meget du har smidt ud.</p>
        </div>
      </div>
      <div class="grid grid-cols-3">
        <img class="w-24" src="src/assets/images/fordobling.svg" alt="" />
        <div class="col-span-2">
          <h3 class="text-xl text-green-900 mb-2 font-medium">Hvem skal jeg gøre det med?</h3>
          <p>Du kan gøre det til en tradition med din familie, venner, kollegaer eller dele det med dit sociale netværk.</p>
        </div>
      </div>
    </section>

    <section class="grid grid-cols-2">
      <div class="grid grid-cols-3">
        <img class="w-24" src="src/assets/images/graf.svg" alt="" />
        <div class="col-span-2">
          <h3 class="text-xl text-green-900 mb-2 font-medium">Hvornår er det årlige projekt?</h3>
          <p>I år er Digital Skraldedag d. 16 marts 2024</p>
        </div>
      </div>
      <div class="grid grid-cols-3">
        <img class="w-24" src="src/assets/images/vægt.svg" alt="" />
        <div class="col-span-2">
          <h3 class="text-xl text-green-900 mb-2 font-medium">Hvad er det vi fjerner?</h3>
          <p>Du fjerner din data gemt i skyen (billeder, videoer, dokumenter, osv), emails og gemt data på din tablet.</p>
        </div>
      </div>
    </section>
  </section>
</a>
