<h3>Hvordan / how to</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde similique eum
  adipisci omnis laboriosam illum, commodi suscipit perferendis, eos numquam
  nobis itaque nisi ipsa animi, nulla obcaecati voluptatum officiis placeat.
</p>
<style>
  h3 {
    font-size: 30px;
    color: #2b4735;
    font-family: "moret", serif;
    font-weight: 700;
    font-style: normal;
  }
  p {
    font-family: "moret", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
