<section class="flex flex-col gap-20 mb-40">
  <h1 class="text-center text-4xl text-green-900 font-medium mt-40">Hvor meget har jeg fjernet?</h1>

  <div class="grid grid-cols-2">
    <div>
      <h3 class="text-xl text-yellow-700 mb-2 font-medium">Slet emails</h3>
      <p>Tjek din nuværende størrelse på din mail. Filtrer dine mails. Slet lange samtaler. Unsubscribe alle nyhedsbreve. Bloker uønskede afsendere. Fjern email notifikationer fra apps og sociale medier</p>
    </div>
    <img class="w-24 ml-40" src="public/svg/Layer_1.png" alt="" />
  </div>
  <div class="grid grid-cols-2">
    <img class="w-24 ml-40" src="public/svg/Layer_1.png" alt="" />
    <div>
      <h3 class="text-xl text-yellow-700 mb-2 font-medium">Slet mobillagring</h3>
      <p>Tjek din nuværende lagringsstatus. Slet alt unødvendigt. Slet din datahistorik. Gem vigtige dokumenter i skyen og billeder samt videoer på harddrives.</p>
    </div>
  </div>
</section>
