<h1 class="text-center text-4xl text-green-900 font-medium mt-40">Registrer mit skrald</h1>

<section id="køb" class="md:ml-80 pb-40 md:w-2/6">
  <form action="/action_page.php">
    <input class="rounded focus:border-red-700" type="text" id="fname" name="fname" placeholder="Navn" /><br />
    <br />
    <input class="rounded focus:border-red-700" type="text" id="lname" name="lname" placeholder="Email" /><br />
    <br />
    <input class="rounded focus:border-red-700" type="text" id="fname" name="fname" placeholder="Antal deltagere" /><br />
    <br />
    <input class="rounded focus:border-red-700" type="text" id="lname" name="lname" placeholder="Slettet skrald (i GB) " /><br />
    <br />

    <input class="text-red-700 bg-gray-100 focus:ring-red-700 dark:focus:ring-red-700 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" type="checkbox" /> Ja tak til nyhedsbrev
  </form>
</section>
