<h3>Registrer mit skrald</h3>

<a id="registrer">
  <section>
    <div class="center">
      <div class="mitskrald">
        <form>
          <input type="text" placeholder="Navn" /><br />
          <input type="text" placeholder="Email" /><br />
          <input type="text" placeholder="Antal deltagere" /><br />
          <input type="text" placeholder="Slettet skrald (i GB)" /><br />
          <div>
            <input type="checkbox" id="nyhedsbrev" name="nyhedsbrev" />
            <label for="nyhedsbrev">Ja tak til nyhedsbrev</label><br />
          </div>
          <input type="button" value="Registrer mit skrald" class="button" />
        </form>
      </div>
    </div>
  </section>
</a>
<style>
  h3 {
    font-size: 30px;
    color: #2b4735;
    font-family: "moret", serif;
    font-weight: 700;
    font-style: normal;
  }
  .mitskrald {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form input {
    padding: 6px;
    margin: 4px;
  }
  .button {
    background-color: #e3a1ad;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    border: 2px solid #ed9045;
    box-shadow: 1px 1px 8px hsl(36, 19%, 60%);
    color: #ffffff;
  }
  form .button {
    padding: 10px 20.5px 10px 20.5px;
    margin-top: 20px;
  }
  .button:hover {
    background-color: #ed9045;
    color: #ffffff;
    transition: 0.5s;
  }
  form,
  .button,
  form input {
    font-family: "moret", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
