---
import KrydsKnap from "../components/KrydsKnap.astro";
---

<a id="registrer">
  <h1 class="text-center font-moret text-4xl text-gron mb-12 font-medium mt-40">Registrer mit skrald</h1>

  <section id="køb" class="pb-40 w-5/12 m-auto">
    <form class="grid grid-cols-2" action="/action_page.php">
      <div>
        <input class="rounded border-orange focus:border-orange" type="text" id="fname" name="fname" placeholder="Navn" /><br />
        <br />
        <input class="rounded border-orange focus:border-orange" type="text" id="lname" name="lname" placeholder="Email" /><br />
        <br />
        <input class="text-orange border-orange bg-gray-100 focus:ring-orange dark:focus:ring-orange" type="checkbox" /> Ja tak til nyhedsbrev
      </div>
      <div>
        <input class="rounded border-orange focus:border-orange" type="text" id="fname" name="fname" placeholder="Antal deltagere" /><br />
        <br />
        <input class="rounded border-orange focus:border-orange" type="text" id="lname" name="lname" placeholder="Slettet skrald (i GB) " /><br />
        <br />
      </div>
    </form>
  </section>
</a>
