---
import Pil from "../assets/images/pil.png";
import Trash from "../assets/images/trash.svg";
import { Image } from "astro:assets";
---

<section class="pt-14 mx-auto max-w-3xl grid justify-items-center">
  <p class="font-moret font-medium text-orange text-3xl">
    Registrer dit digitale skrald
  </p>
  <Image
    src={Pil}
    alt="Københavnerbilleder bogforside"
    class="pil w-1/25 h-auto"
  /><br />

  <div class="ryst">
    <a href="#registrer">
      <Image
        src={Trash}
        alt="Københavnerbilleder bogforside"
        class="ryst w-40 relative -top-20"
      />
    </a>
  </div>
</section>

<style>
  .ryst:hover {
    cursor: pointer;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes shake {
    0% {
      -webkit-transform: rotate(0deg);
    }

    25% {
      -webkit-transform: rotate(2deg);
    }

    50% {
      -webkit-transform: rotate(-2deg);
    }

    75% {
      -webkit-transform: rotate(2deg);
    }

    100% {
      -webkit-transform: rotate(-2deg);
    }
  }
</style>
