<section class=" mt-5 mx-auto max-w-3xl grid justify-items-center">
  <p class="font-moret font-medium text-orange text-3xl">Registrer dit digitale skrald</p>
  <img class="pil w-1/25 h-auto mb-40" src="../../src/assets/images/pil.png" /><br />

  <div class="ryst">
    <a href="#registrer"
      ><img class="ryst inline-block max-w-xs" src="../../src/assets/images/fordobling.png" /></a
    >
  </div>
</section>

<style>
  /* p {
    font-family: "moret", serif;
    font-weight: 400;
    font-style: normal;
    color: #ed9045;
    font-size: 30px;
  } */

  .ryst:hover {
    cursor: pointer;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes shake {
    0% {
      -webkit-transform: rotate(0deg);
    }

    25% {
      -webkit-transform: rotate(2deg);
    }

    50% {
      -webkit-transform: rotate(-2deg);
    }

    75% {
      -webkit-transform: rotate(2deg);
    }

    100% {
      -webkit-transform: rotate(-2deg);
    }
  }
</style>
